doctype html
html
  head
    block scripts
    block style
  body
    nav#navbar   
        ul
          div#logo 
              img(src="/static/img/gym3.jpg.png", alt="nav logo")  
              h5 RDS
          li #[a(href="/") Home ]
          li #[a(href="/") About Us] 
          li #[a(href="/") Services ]
          li #[a(href="/") Class Info] 
          Li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright © 2023 rishavdanceacademy.com | All right reserved          