doctype html
html
  head
    style
      include ../static/style.css
      <link href='https://fonts.googleapis.com/css?family=Akaya Telivigala' rel='stylesheet'>
  body
    nav#navbar   
        ul
          div#logo 
              img(src="/static/img/gym3.jpg.png", alt="nav logo")  
              h5 RDS
          li #[a(href="/") Home ]
          li #[a(href="/") About Us] 
          li #[a(href="/") Services ]
          li #[a(href="/") Class Info] 
          Li #[a(href="/") Contact Us]

    section#intro 
           div  Welcome to Rishav's Dance Academy
           div.small  Eat Dance Sleep Repeat
    
    section#mission
           h2 Our Mission
           div.card 
              h3 Dance Perfection
              div.card-box
                  div.card-img   
                      img(src="/static/img/gym1.jpg.png")
              div.card-content
                  p This is the best dance academy of India    
                 

           div.card 
              h3 Dance the way you like
              div.card-box
                  div.card-img   
                      img(src="/static/img/gym2.jpg.png")
              div.card-content
                  p Do it big, do it right and do it with style   
                 
           div.card 
              h3 Expert Teaching
              div.card-box
                  div.card-img   
                      img(src="/static/img/gym4.jpg.png")
              div.card-content
                  p We will provide the best teaching skills     
                 
    section#sponsor 
           h2 Our Sponsors
           div#sponsors 
               img(src="/static/img/logo1.png.png", alt="sponsor image", class="spimage") 
               img(src="/static/img/logo2.png.jpg", alt="sponsor image", class="spimage") 
               img(src="/static/img/logo3.png.png", alt="sponsor image", class="spimage") 
               img(src="/static/img/logo4.png.png", alt="sponsor image", class="spimage") 

    footer#footer 
        |  Copyright © 2023 rishavdanceacademy.com | All right reserved


    script
      include ../static/index.js